<html id="cart-html" lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Waitless</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    	  <%= stylesheet_link_tag "application" %>
 -->   	</head>
	<body>
  <% if session[:cart].empty? %>
  <p>Your cart is empty!</p>
  <% else %>
		<h2>My Cart</h2>
		<br>
		<h2>Current Account Balance: $<%= Account.getAll[0]["balance"] %></h2>
        <table class="table table-striped" id="cartTable">
          <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% session[:cart].each do |item| %>
            <tr>
              <td><%= item['item_name'] %></td>
              <td><%= item['price'] %></td>
              <td><%= link_to 'x', remove_from_cart_path(barcode_id: item['barcode_id']) %></td>
            </tr>
          <% end %>
          </tbody>
        </table><br>
        <h5>Total: $<%= @total %></h5>
    <% end %>
	<div class="container">
		<div id="totalPrice">

		</div>

  <!-- Trigger the modal with a button -->
  <button type="button" id="submit-purchase" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit Purchase</button>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p class="modal-p">Confirmation</p>
          <p class="modal-p">This order will be charged to your Capital One card ending in 3785. Is this okay?</p>


        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal" onclick= "<% Withdrawal.createWithdrawal("5b03908f322fa06b677938fb", {"medium": "balance","transaction_date": "2018-05-25","status": "pending","amount": @total,"description": "string"}); session[:cart] = Array.new%>; location.href='history.html';">Confirm</button>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>	</body>
</html>
